header {
  font-size: 3em;
  font-family: Courier;
  text-align: center;
  padding: 13px;
}


body{
margin:0;
padding:0;
color:#000;
background:#a7a09a;
}

#wrap {

background: #99c;
width:100%;
margin:0 auto;
clear: both;
}

#wrap2 {
  background: #79c;
  clear: both;
  float: left;
  max-width: 100%;
}

#wrap2 p{
  margin-left: 2%;
}

#wrap2 h1{
  margin-left: 2%;
}


.leftside {
  float: left;
  width: 50%
}



.rightside {

   padding-top: 1%;
   float: right;
   width: 50%;
}

